<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="refresh" content="3;url=/login">
    <title>Logout Success</title>
</head>
<body>
    <h1>Logout Successful</h1>
    <p>You have been successfully logged out.</p>
    <p><a href="/login">Click here to login again</a></p>
    <script>
        setTimeout(function() {
            window.location.href = "/login";
        }, 3000);
    </script>
</body>
</html>